p, h1, h2, h3, h4, h5{
    font-family: 'PT Sans', sans-serif;
}

.badge{
    background-color: #e0573f;
    
    width: 32px;
    height: 32px;
    border-radius: 50% 50%;
    text-align: center;
    
        color: white;
        font-size: 12px;
        font-weight: 100;
    
}

.card-social{
    width: 100%;
    height: 300px;

}