<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start" style="margin-top: 14px; margin-left: 12px;">
      <img src="../../../assets/profiles/p6.jpg" alt="" 
        style="width: 32px !important; height: 32px !important;">
    </ion-avatar>
    <ion-searchbar mode="ios"></ion-searchbar>
    <ion-icon name="videocam-outline" slot="end" color="tomato" 
      style="font-size: 22px; margin-right: 12px; margin-top: -10px;">
    </ion-icon>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md" color="tomato">
      <ion-segment-button value="home" >
        <ion-label><p>Home <strong class="badge">11</strong></p> </ion-label>
        
      </ion-segment-button>
      <ion-segment-button value="subs" color="tomato">
        <ion-label><p>Subscriptions</p></ion-label>
      </ion-segment-button>
      <ion-segment-button value="trending" color="tomato">
        <ion-label><p>Trending</p></ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card-social">
    <img src="../../../assets/travel/maldives-1993704_1280.jpg" alt="" style="border-radius: 5px 5px 5px 5px;">
    <ion-item lines="none" color="transparent">
      <ion-avatar slot="start">
        <img src="../../../assets/profiles/p4.jpg" alt="" style="margin-left: -12px">
      </ion-avatar>
      <ion-label>
        <h1 style="font-weight: 600; font-size: 14px; text-align: left;">Lorem ipsum dolor sit amet consectetur.</h1>
        <p style="font-weight: 100; font-size: 12px; text-align: left;">Lorem ipsum dolor sit.</p>
      </ion-label>
    </ion-item>
  </div>

  <div class="card-social">
    <img src="../../../assets/travel/bora-bora-3023437_960_720.jpg" alt="" style="border-radius: 5px 5px 5px 5px;">
    <ion-item lines="none" color="transparent">
      <ion-avatar slot="start">
        <img src="../../../assets/profiles/p7.jpg" alt="" style="margin-left: -12px">
      </ion-avatar>
      <ion-label>
        <h1 style="font-weight: 600; font-size: 14px; text-align: left;">Lorem ipsum dolor sit amet consectetur.</h1>
        <p style="font-weight: 100; font-size: 12px; text-align: left;">Lorem ipsum dolor sit.</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
