<div class="ion-padding">
  <h1 class="ion-text-center animate__animated animate__bounceIn" style="font-weight: 500; font-size: 22px;">
    UITemplate
  </h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-icon name="layers-outline"></ion-icon>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-icon name="leaf-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-icon name="keypad-outline"></ion-icon>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-icon name="library-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


