.logo{
    width: 100%;
    height: 2em;

    h1{
        font-size: 2em;
        font-weight: lighter;
        text-align: center;
        color: white;
        font-family: 'PT Sans', sans-serif;
        margin-top: -10px;
    }
}