<ion-header>
  <ion-toolbar color="greek">
    <ion-icon name="book-outline" slot="start" style="margin-left: 12px;" size="large"></ion-icon>
    <ion-title size="small">News</ion-title>
    <ion-icon name="close-outline" slot="end" routerLink="/dashboard" style="margin-right: 12px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--main News-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <p style="font-weight: 100; font-size: 12px;">Park Green | LA</p>
      </ion-card-subtitle>
      <ion-card-title color="blurple">
        <h1 style="font-weight: 100; font-size: 22px;">Lorem, ipsum dolor.</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/travel/maldives-1993704_1280.jpg" alt="">
      <p style="text-align: justify; font-weight: 200; font-size: 14px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Perspiciatis molestiae officia blanditiis? 
        Repudiandae atque aut autem qui cum ipsam quidem sunt, 
        officia, tempore quae rem.
      </p>
      
      <ion-label slot="end"><p style="font-weight: 100 !important; font-size: 10px !important; text-align: right !important;">Comments 248</p></ion-label>
      <p style="text-align: right !important;">
        <ion-icon name="create-outline" slot="end" color="blurple"></ion-icon>
        <ion-icon name="share-social-outline" slot="end"></ion-icon>
        <ion-icon name="analytics-outline" slot="end" ></ion-icon>
      </p> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-avatar>
        <img src="../../assets/music/03.jpg" alt="">
      </ion-avatar>
      <ion-label>
        <h1 style="font-weight: 300; font-size: 16px;" style="margin-left: 12px;">Adelle</h1>
        <p style="margin-left: 12px;">
          <ion-icon name="star" color="blurple"></ion-icon>
          <ion-icon name="star" color="blurple"></ion-icon>
          <ion-icon name="star" color="blurple"></ion-icon>
          <ion-icon name="star" color="blurple"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
        </p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <p style="text-align: justify; font-weight: 200; font-size: 14px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod obcaecati eaque laboriosam ut commodi eos ratione quidem. Aliquam illo eligendi tempore quia aspernatur velit ullam ea facilis, magni veritatis, delectus voluptates et id quis.
      </p>
      <p>
        <ion-icon name="time-outline"></ion-icon> 26 nov 2020
      </p>
    </ion-card-content>
  </ion-card>

  <br>

  <ion-list lines="none">
    <ion-item lines="full">
      <ion-label>
        <p style="font-size: 12px; font-weight: 100;">9:46am</p>
        <h1 style="font-size: 18px; font-weight: 200;">Lorem ipsum dolor sit.</h1>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="../../assets/hotel/manor-house-2359884_1280.jpg" style="border-radius: 6px 6px 6px 6px;">
      </ion-thumbnail>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <p style="font-size: 12px; font-weight: 100;">9:52am</p>
        <h1 style="font-size: 18px; font-weight: 200;">Lorem ipsum dolor sit.</h1>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="../../assets/hotel/room-2269594_1280.jpg" style="border-radius: 6px 6px 6px 6px;">
      </ion-thumbnail>
    </ion-item>

    <ion-item lines="full">
      <ion-label>
        <p style="font-size: 12px; font-weight: 100;">10:15am</p>
        <h1 style="font-size: 18px; font-weight: 200;">Lorem ipsum dolor sit.</h1>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="../../assets/hotel/villa-1737168_1280.jpg" style="border-radius: 6px 6px 6px 6px;">
      </ion-thumbnail>
    </ion-item>
  </ion-list>

  <br>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar>
        <img src="../../assets/music/05.jpg" alt="">
      </ion-avatar>
      <ion-label>
        <h1 style="font-weight: 300; font-size: 16px;" style="margin-left: 12px;">ColdPlay</h1>
        <p style="margin-left: 12px;">
          <ion-icon name="star" color="blurple"></ion-icon>
          <ion-icon name="star" color="blurple"></ion-icon>
          <ion-icon name="star" color="blurple"></ion-icon>
          <ion-icon name="star" color="blurple"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
        </p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <p style="text-align: justify; font-weight: 200; font-size: 14px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod obcaecati eaque laboriosam ut commodi eos ratione quidem. Aliquam illo eligendi tempore quia aspernatur velit ullam ea facilis, magni veritatis, delectus voluptates et id quis.
      </p>
      <p>
        <ion-icon name="time-outline"></ion-icon> 26 nov 2020
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
