<ion-header lines="none">
  <ion-toolbar color="blurple">
    <ion-icon name="reorder-three-outline" slot="start" routerLink="/profiles" size="large" style="margin-left: 12px;"></ion-icon>
  </ion-toolbar>
  <ion-toolbar color="blurple">
    <div class="profile_img">
      <img src="../../../assets/profiles/p4.jpg" alt="">
    </div>
    <h1 class="ion-text-center">Arthur Binotto</h1>
    <p class="ion-text-center" style="font-weight: 100; font-size: small; margin-top: -10px;">Professional</p>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="person-circle-outline" slot="start" color="blurple"></ion-icon>
      <p>My Profile</p>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="chatbubbles-outline" slot="start" color="blurple"></ion-icon>
      <p>Messages</p>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="git-merge-outline" slot="start" color="blurple"></ion-icon>
      <p>Request</p>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="location-outline" slot="start" color="blurple"></ion-icon>
      <p>Locations</p>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="settings-outline" slot="start" color="blurple"></ion-icon>
      Settings
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center" style="font-weight: 300; font-size: 16px;" routerLink="/profiles">
      <ion-icon name="log-out-outline" color="blurple"></ion-icon> <strong> Logout</strong>
    </p>
  </ion-toolbar>
</ion-footer>
