<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo">
    <h1>UI TEMPLATE</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque velit ipsa delectus dolore deleniti quo?</p>
  </div>
  <br>
  <ion-list lines="none">
    <ion-item lines="inset">
      <ion-label position="floating">@UserEmail</ion-label>
      <ion-input placeholder="User@email.com"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="primary" routerLink="/loginpage" expand="block">Send Email</ion-button>
  <br><br>
  <p class="ion-text-center">Todos los derechos reservados</p>
</ion-content>
