
<ion-content class="ion-padding">
  
  <div class="logo">
    <h1>UI TEMPLATE</h1>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">@Username</ion-label>
      <ion-input placeholder="@Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="primary" expand="block" routerLink="/dashboard">Login</ion-button>
  
  <br><br>
  
  <p class="ion-text-center">No tienes Cuenta? <strong routerLink="/registerpage">Registrate!</strong></p>
 
  <br><br>

  <p class="ion-text-center">
    <span>
      <ion-icon name="logo-facebook" color="primary" size="large"></ion-icon>
      
      <ion-icon name="logo-google" color="primary" size="large"></ion-icon>
    </span>
  </p>

  <br><br><br>
  <p class="ion-text-center" routerLink="/recoverpage">Olvidaste tu Contraseña?</p>
</ion-content>
