<!--ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large">Hi! Dana Doe</ion-title>
    <ion-icon name="exit-outline" slot="end" style="margin-right: 0.5em;" size="large" ></ion-icon>
  </ion-toolbar>
</ion-header-->

<ion-content>
  <ion-grid class="grid-css">
    <ion-row>
      <ion-col sise="9" class="profile-user">
        <img src="../../../assets/profiles/p12.jpg" alt="">
        <div class="info-profile">

          <div>
            <ion-item lines="none" color="transparent">
              <ion-label style="color: white; font-weight: 500; font-size: 1.2em;">Hi! Dana</ion-label>
              <ion-icon name="exit-outline" slot="start" 
                style="margin-left: 0.5em;" size="large" style="color: white !important;" 
                routerLink="/profiles">
              </ion-icon>
            </ion-item>
          </div>

          <div style="height: 20em; width: 50%;"></div>

          <div>
            <ion-item lines="none" color="transparent">
              <ion-avatar slot="end">
                <img src="../../../assets/profiles/p12.jpg" alt="">
              </ion-avatar>
              <ion-label style="width: 90% !important;">
                <h1 style="font-weight: 200; font-size: 1.5em; text-align: right; color: white;">Dana Doe</h1>
                <p style="font-weight: 100; font-size: 0.8em; text-align: right; color: white;">dolor sit amet</p>
              </ion-label>
            </ion-item>
            <br>
            <ion-item lines="none" color="transparent">
              <ion-label style="width: 90% !important;">
                <h5 style="font-weight: 200; 
                           font-size: 1.5em; 
                           text-align: right; 
                           color: yellow; 
                           margin-right: 56px;">About Dana</h5>
              </ion-label>
            </ion-item>
            <ion-item lines="none" color="transparent">
              <ion-text style="width: 90% !important;">
                <p style="font-weight: 100; 
                          font-size: 0.8em; 
                          text-align: right; 
                          color: white; 
                          margin-right: 28px;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Lorem ipsum dolor sit amet consectetur.
                </p>
              </ion-text>
            </ion-item>
          </div>

        </div>
      </ion-col>
      <ion-col size="3" class="profile-options">
        <br><br><br>
        <h4 style="font-weight: 100; font-size: 1.2em;" >Friends</h4>

        <ion-list lines="none">
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../../assets/profiles/p8.jpg" alt="">
            </ion-avatar>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../../assets/profiles/p6.jpg" alt="">
            </ion-avatar>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../../assets/profiles/p4.jpg" alt="">
            </ion-avatar>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../../assets/profiles/p16.jpg" alt="">
            </ion-avatar>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../../assets/profiles/p3.jpg" alt="">
            </ion-avatar>
          </ion-item>

        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
