<ion-header>
  <ion-toolbar color="blurple">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Maps</ion-title>
    <ion-icon name="location-outline" slot="end" style="margin-right: 12px; font-size: 22px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 style="font-size: 2em; font-weight: 300; margin-left: 12px;">Map in MapBox</h1>
  <div #map id="map" style="width: 100%; height: 420px;">
  
  </div>

  <br>
  <h1 style="font-size: 2em; font-weight: 300; margin-left: 12px;">Map in Leaflet</h1>
  <div id="mapId" style="width: 100%; height:420px"></div>
</ion-content>
