<ion-header lines="none">
  <ion-toolbar lines="none" color="watermelon">
    <ion-title class="ion-text-center" size="small" style="font-weight: bold;">Feed</ion-title>
    <ion-icon name="heart-outline" slot="end" style="margin-right: 12px; font-size: 1em;"></ion-icon>
    <ion-icon name="camera-outline" slot="end" style="margin-right: 12px; font-size: 1em;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 1em;"></div>
  <!-- User Profiles Slides  -->
  
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-avatar>
        <img src="../../../assets/add.svg" style="width: 3em; height: 3em;">
      </ion-avatar>
    </ion-slide>

    <ion-slide>
      <ion-avatar>
        <img src="../../../assets/profiles/p1.jpg" style="width: 3em; height: 3em;">
      </ion-avatar>
    </ion-slide>

    <ion-slide>
      <ion-avatar>
        <img src="../../../assets/profiles/p3.jpg" style="width: 3em; height: 3em;">
      </ion-avatar>
    </ion-slide>

    <ion-slide>
      <ion-avatar>
        <img src="../../../assets/profiles/p5.jpg" style="width: 3em; height: 3em;">
      </ion-avatar>
    </ion-slide>

    <ion-slide>
      <ion-avatar>
        <img src="../../../assets/profiles/p7.jpg" style="width: 3em; height: 3em;">
      </ion-avatar>
    </ion-slide>

    <ion-slide>
      <ion-avatar>
        <img src="../../../assets/profiles/p9.jpg" style="width: 3em; height: 3em;">
      </ion-avatar>
    </ion-slide>
  </ion-slides>

  <div style="height: 1em;"></div>
  


  <!--cards content ui-->
  <div>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../../assets/profiles/p2.jpg" style="width: 2em; height: 2em;">
      </ion-avatar>
      
      <ion-label>
        <h1 style="font-weight: 500; font-size: 1em;">Mandy Portman</h1>
        <p style="font-weight: 100; font-size: 0.5em;">30 Min ago</p>
      </ion-label>
      <ion-item lines="none" slot="end">
        <ion-icon name="heart" slot="end" color="tomato" ></ion-icon>
        <ion-icon name="chatbubble-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-item>
    <div class="ion-padding"> 
      <img src="../../../assets/profiles/p17.jpg" style="width: 100%; height: 220px; border-radius: 0.5em 0.5em 0.5em 0.5em;">
    </div>
    
  </div>
  

  <!--cards content ui-->
  <div>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../../assets/profiles/p4.jpg" style="width: 2em; height: 2em;">
      </ion-avatar>
      
      <ion-label>
        <h1 style="font-weight: 500; font-size: 1em;">Sebas Vettel</h1>
        <p style="font-weight: 100; font-size: 0.5em;">22 Min ago</p>
      </ion-label>
      <ion-item lines="none" slot="end">
        <ion-icon name="heart-outline" slot="end" ></ion-icon>
        <ion-icon name="chatbubble-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-item>
    <div class="ion-padding"> 
      <img src="../../../assets/profiles/p20.jpg" style="width: 100%; height: 220px; border-radius: 0.5em 0.5em 0.5em 0.5em;">
    </div>
    
  </div>


      

  

</ion-content>
