<ion-header>
  <ion-toolbar>
    <ion-title> <h1 style="font-size: 22px; font-weight: 500;">Modal</h1> </ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="close" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center animate__animated animate__bounceIn" style="font-weight: 500; font-size: 22px;">
    UITemplate
  </h1>
  <p class="ion-text-center ion-padding" style="font-weight: 100; font-size: 1em;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error iste similique maxime tempora dignissimos, et, amet veniam temporibus, 
    accusamus velit quo beatae sapiente enim molestiae.</p>
</ion-content>
