<!--ion-header>
  <ion-toolbar>
    <ion-title>profile02</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
  <div class="upbg"></div>

  <div class="main_content_icons">
    
    <ion-icon name="chevron-back-outline" slot="start" 
              style="margin-left: 12px; color: white; font-size: 18px;" routerLink="/profiles"></ion-icon>
    <ion-icon name="settings-outline" slot="end" 
              style="right: 62px; position: absolute; color: white; font-size: 18px;" ></ion-icon>
    <ion-icon name="chatbox-ellipses-outline" slot="end" 
              style="right: 18px; position: absolute; color: white; font-size: 18px;" ></ion-icon>
  </div>

  <div class="main_content ion-padding">
    <!-- card-profile -->
    <div class="card_profile">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="../../../assets/profiles/p14.jpg" style="width: 2.5em; height: 2.5em;">
        </ion-avatar>
        <ion-text>
          <h1>Jhon Doe</h1>
          <ion-chip style="margin-top: -10px; margin-left: -1px;">
            <ion-icon name="medal-outline"></ion-icon>
            <ion-label>Menber</ion-label>
          </ion-chip>
        </ion-text>
      </ion-item>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <h1 style="font-size: 1.2em; font-weight: bolder; margin-top: -18px;">28</h1>
            <p style="font-size: 0.8em; font-weight: 100;">Collections</p>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <h1 style="font-size: 1.2em; font-weight: bolder; margin-top: -18px;">116</h1>
            <p style="font-size: 0.8em; font-weight: 100;">Groups</p>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <h1 style="font-size: 1.2em; font-weight: bolder; margin-top: -18px;">22</h1>
            <p style="font-size: 0.8em; font-weight: 100;">Gifts</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <div class="line"></div>
      <ion-item lines="none">
        <ion-icon name="cube-outline" slot="end" size="small" color="sun"></ion-icon>
        <ion-text>
          <p>You have a new Gifts</p>
        </ion-text>
      </ion-item>
      <br>
    </div>

    <br>
    <!--ionic card-->
    <ion-card>
      <ion-item lines="none">
        <ion-icon name="card-outline" slot="end" size="large" color="sun"></ion-icon>
        <p style="font-weight: 100; font-size: 1.5em;">Lorem, ipsum dolor.</p>
      </ion-item>
    </ion-card>

    <br>
    <!--dashboard content menu-->
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="ion-text-center" >
          <ion-icon name="cash-outline" color="sun"></ion-icon>
          <p>Cash</p>
        </ion-col>
        <ion-col size="3" class="ion-text-center" >
          <ion-icon name="bar-chart-outline" color="sun"></ion-icon>
          <p>Stats</p>
        </ion-col>
        <ion-col size="3" class="ion-text-center" >
          <ion-icon name="cloud-upload-outline" color="sun"></ion-icon>
          <p>Cloud</p>
        </ion-col>
        <ion-col size="3" class="ion-text-center" >
          <ion-icon name="journal-outline" color="sun"></ion-icon>
          <p>Balance</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="ion-text-center" >
          <ion-icon name="key-outline" color="sun"></ion-icon>
          <p>Keys</p>
        </ion-col>
        <ion-col size="3" class="ion-text-center" >
          <ion-icon name="mail-outline" color="sun"></ion-icon>
          <p>Mail</p>
        </ion-col>
        <ion-col size="3" class="ion-text-center" >
          <ion-icon name="pie-chart-outline" color="sun"></ion-icon>
          <p>Datas</p>
        </ion-col>
        <ion-col size="3" class="ion-text-center" >
          <ion-icon name="shield-outline" color="sun"></ion-icon>
          <p>Security</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <br>
    <!--ionic card information-->
    <ion-card>
      <ion-item lines="full">
        <ion-text>
          <h1>Information</h1>
        </ion-text>
        <ion-note slot="end">
          Bank card
        </ion-note>
      </ion-item>
      <ion-item lines="none">
        <p style="font-weight: 100; font-size: 0.8em; text-align: justify;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet in eos nesciunt dolorem excepturi voluptates ipsam. Excepturi consequuntur nam voluptas?
        </p>
      </ion-item>
    </ion-card>
    <br><br>
  </div>
  
        

</ion-content>
