
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="ion-padding">
        <img src="../../assets/uilogo.svg" alt="" class="logo">
        <br>
        <p class="ion-text-center">UITemplate in Ionic 5</p>
        <p class="ion-text-center" style="margin-top: -10px; font-weight: 100; font-size: 12px;">Template Applications</p>
        <br>
        <ion-button color="blurple" expand="block" routerLink="/dashboard">Skip</ion-button>
      </div>
      
    </ion-slide>
    <ion-slide>
      <div class="ion-padding">
        <img src="../../assets/uilogo.svg" alt="" class="logo">
        <br>
        <p class="ion-text-center">UITemplate in Ionic 5</p>
        <p class="ion-text-center" style="margin-top: -10px; font-weight: 100; font-size: 12px;">UI/UX</p>
        <ion-button color="blurple" expand="block" routerLink="/dashboard">Skip</ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-padding">
        <img src="../../assets/uilogo.svg" alt="" class="logo">
        <br><br>
        <p class="ion-text-center" style="margin-top: -10px; font-weight: 100; font-size: 12px;">and More!</p>
        <ion-button color="blurple" expand="block" routerLink="/dashboard">Dashboard</ion-button>
      </div>
      
    </ion-slide>
  </ion-slides>

</ion-content>
