<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo">
    <h1>UI TEMPLATE</h1>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">@Username</ion-label>
      <ion-input placeholder="@Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="primary" expand="block">Register</ion-button>
  
  <br><br>
  
  <p class="ion-text-center">Or</p>
 
  <br><br>

  <p class="ion-text-center">
    <span>
      <ion-icon name="logo-facebook" color="primary" size="large"></ion-icon>
      
      <ion-icon name="logo-google" color="primary" size="large"></ion-icon>
    </span>
  </p>

</ion-content>
