<ion-header>
  <ion-toolbar color="blurple">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profiles UI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <div class="logo animate__animated animate__bounceIn">
    <h1>UI TEMPLATE</h1>
  </div>
  <ion-list>
    <ion-list-header>Profile List</ion-list-header>
    <ion-item lines="inset" routerLink="/profile01">
      Profile 01
    </ion-item>
    <ion-item lines="inset" routerLink="/profile02">
      Profile 02
    </ion-item>
    <ion-item lines="inset" routerLink="/profile03">
      Profile 03
    </ion-item>
    <ion-item lines="inset" routerLink="/profile04">
      Profile 04
    </ion-item>
    <ion-item lines="inset" routerLink="/profile05">
      Profile 05
    </ion-item>
    <ion-item lines="inset" routerLink="/profile06">
      Profile 06
    </ion-item>
    <ion-item lines="inset" routerLink="/profile07">
      Profile 07
    </ion-item>
    <ion-item lines="inset" routerLink="/profile08">
      Profile 08
    </ion-item>
    <ion-item lines="inset" routerLink="/profile09">
      Profile 09
    </ion-item>
    <ion-item lines="inset" routerLink="/profile10">
      Profile 10
    </ion-item>
  </ion-list>
  
</ion-content>
