<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true" class="ion-padding">

  <br><br>
  
  <img src="../../assets/uilogo.svg" alt="" class="logo">
  
  <h1 class="ion-text-center" style="margin-top: -60px;">WELCOME TO UITEMPLATE</h1> <br>
  <p class="ion-text-center">UITemplate in Ionic 5, is a starter template of custom components and pre-made Applications ready for your development.</p>
 
  
  <br><br>
  <ion-button expand="block" color="blurple" routerLink="/slidespage">Get Started!</ion-button>

</ion-content>
